@model IEnumerable<Aspnetproject.model.Product>

@{
    Layout = "_ClientLayout";
    ViewData["Title"] = "IITSTORE";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IIT SHOP</title>
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="~/assets/css/fontawesome.css" rel="stylesheet" />
    <link href="~/assets/css/templatemo-sixteen.css" rel="stylesheet" />
    <link href="~/assets/css/owl.css" rel="stylesheet" />
</head>

<body>


    <!-- Banner Ends Here -->

    <div class="latest-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Latest Products</h2>
                        <a href="products.html">view all products <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                @foreach (var product in Model)
                {
                    <div class="col-md-4">
                        <div class="product-item">
                            <a href="#"><img src="@product.ImageUrl" alt=""></a>
                            <div class="down-content">
                                <a href="#"><h4>@product.Title</h4></a>
                                <h6>$@product.Price</h6>
                                <p>@product.Description</p>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <!-- Add additional details as needed -->
                                <form method="post" asp-action="AddToCart" asp-controller="Client">
                                    <input type="hidden" name="productId" value="@product.Id" />
                                    <button type="submit" class="btn btn-primary" onclick="redirectToCart()">Add to Cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="best-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>About Sixteen Clothing</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Welcome to IIT Store - Your Destination for Quality Products</h4>
                        <p>Explore the finest selection of products at IIT Store, where we bring you the best in class items for your needs. Our commitment is to provide high-quality products that cater to your lifestyle. Whether you are looking for cutting-edge technology, trendy fashion, or essential everyday items, we've got you covered.</p>
                        <p>At IIT Store, we take pride in offering a diverse range of products to meet the varying tastes and preferences of our customers. Our dedicated team ensures that every product meets the highest standards of quality, ensuring your satisfaction with every purchase.</p>
                       
                        <a href="about.html" class="filled-button">Read More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-image">
                        <img src="~/assets/images/download.jpg" alt="">
                    </div>
                </div>






    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner-content">
                        <p>
                            Copyright &copy; 2023 MAHDI & AZIZ., IIT.

                            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">IIT</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/isotope.js"></script>
    <script src="~/assets/js/accordions.js"></script>

    <script>
        function redirectToCart() {
            window.location.href = '/Client/AddToCart';
        }
    </script>



    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
